<tr><%= image_tag customer.get_profile_image(200, 200) %></tr>
 <table>
  <tbody>
    <tr>
     <th>名前</th>
     <th><%=customer.name%></th>
    </tr>
    <tr>
	  <th>自己紹介</th>
	  <th><%=customer.introduction%></th>
	  </tr>
  </tbody>
 </table>
  <% if customer.email != "guest@example.com" && customer == current_customer %>
    <%= link_to "プロフィール編集", edit_public_customer_path(customer), class: "btn btn-outline-success" %>
  <% end %>
  