<h2>マイページ<h2/>
	  
<tbody>
  <tr>
    <%= image_tag @customer.get_profile_image(100, 100) %>
  </tr>
  <tr>
	  <th>name</th>
	  <th><%=@customer.name%></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%=@customer.introduction%></th>
  </tr>
</tbody>
  
<tbody>
  <%# @items.each do |item| %>
  <tr>
    <td><%#= link_to customer_path(item.customerid) do %>
        <%#= image_tag item.customer.get_profile_image(100,100) %>
        <%# end %>
    </td>
    <td><%#= link_to item.name, item_path(item.id) %></td>
    <td><%#= item.body %></td>
  </tr>
  <%# end %>
</tbody>