<%= form_with model: comment, url: public_item_comments_path(item.id), local: false do |f| %>
<!--エラーメッセージをdivタグで囲む-->
  <div id="comments-error">
    <%= render 'layouts/error_messages', model: f.object %>
  </div>
  <%= f.text_area :comment_content, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信" %>
<% end %>
