<h2>ジャンル編集</h2>
<%= form_with url: admin_tag_path(@tag), model: @tag do |f| %>
  <table>
      <tr>
          <th><%= f.text_field :name, class:"form-control", placeholder:"ジャンル名" %></th>
          <td><%= f.submit "変更を保存", class:"btn btn-outline-info" %></td>
      </tr>
  </table>
<% end %>