<div class="container">
  <div class="row">
 <div class="col-5">
 </div>
    <h1 class="brand-title text-center">
      <span class="text-primary">c</span>osmetic <span class="text-success">m</span>an
      <span class="d-block sub-brand-title">男性のための最適な化粧品を</span>
    </h1>
    <div class="col-12">

      <p class="text-center">cosmetic manは男性向けの化粧品レビューサイトです。</p>
      <p class="text-center">様々な化粧品を見たりレビューすることができます。</p>
      <p class="text-center">是非とも自分磨きのお手伝いをさせてもらえたら幸いです。</p>

    </div>
     <div class="col-12 text-center">
      <%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post, class: "btn btn-outline-success" %>
      <%= link_to "ログイン",new_customer_session_path, class: "btn btn-outline-success" %>
      <%= link_to "会員登録",new_customer_registration_path, class: "btn btn-outline-success" %>
     </div>
  </div>
</div>