<h1>Homes#2top</h1>

<%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %>

<%= link_to "Log in",new_customer_session_path %>

<%= link_to "Sign up",new_customer_registration_path %>